/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

/* Section Styles */
.section {
  width: 80%;
  margin: 0 auto;
  padding: 2rem 0;
}

.title {
  text-align: center;
  margin-bottom: 4rem;
  margin-top: 4rem;
}

.title h2 {
  font-weight: 790;
  color: #333;
}

.underline {
  height: 0.25rem;
  width: 5rem;
  background-color: rgb(47, 173, 223);
  margin:  auto;
}

.jobs-center {
  display: grid;
  grid-template-columns: 200px 1fr;
  gap: 2rem;
}

.job-btn {
  display: block;
  width: 100%;
  padding: 0.2rem 0;
  border: none;
  background-color: transparent;
  text-align: left;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  color: #0a0a0a;
  padding-left: 3rem;
}

.job-btn:hover{
  color: rgb(95, 198, 238);
}

.job-btn:focus {
  border-color:rgb(82, 184, 225) ;
}

.active-btn {
  color: rgb(6, 163, 191);
  border-color: rgb(90, 206, 252);
}
.job-info{
  padding-left: 1rem;
}

.job-info h3 {
  font-weight: 400;
  color: #333;
  margin-bottom: 0.5rem;
}

.job-info h4 {
  color: #777;
  margin-bottom: 1rem;
}

.job-date {
  color: #777;
  margin-bottom: 1rem;
}



.job-desc ul {
  list-style-type: none;
  color: #595959;
}

.job-desc li {
  margin-bottom: 1rem;
  padding-left: 0.2rem;
}

.job-icon {
  color: hsl(184, 97%, 40%);
  margin-left: 5px;
  vertical-align: middle;
  padding-left: 2px;
  margin-top: -10px;
}

.btn {
  
  background: hsl(184, 97%, 40%);
  color: white;
  border: none;
  
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  color: hsl(184, 91%, 17%);
  background: hsl(184, 80%, 74%);
}